$bg-color-dark: #112B3C;
$bg-color-purple: #205375;
$bg-color-white: #EFEFEF;
$bg-color-orange: #F66B0E;

$btn-color-1: #205375;
$btn-color-2: #EFEFEF;

$txt-color-black: #111;
$txt-color-orange: #F66B0E;
$txt-color-white: #EFEFEF;
